<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li>S.no</li>
            <li>Full name</li>
            <li>Email</li>
            <li>UserRole</li>
            <li>Created by</li>
            <li>Created date</li>
            <li>Edit</li> 
            <li>Delete</li>
        </ul>
        <ul>
            <li>1</li>
            <li>arockia</li>
            <li>arockiaraj@gmail.com</li>
            <li>admin  </li>
            <li>arockia</li>
            <li>today</li>
            <li>Edit</li> 
            <li>Delete</li>
        </ul>
        <ul>
            <li>1</li>
            <li>arockia</li>
            <li>arockiaraj@gmail.com</li>
            <li>admin  </li>
            <li>arockia</li>
            <li>today</li>
            <li>Edit</li> 
            <li>Delete</li>
        </ul>
        <ul>
            <li>1</li>
            <li>arockia</li>
            <li>arockiaraj@gmail.com</li>
            <li>admin  </li>
            <li>arockia</li>
            <li>today</li>
            <li>Edit</li> 
            <li>Delete</li>
        </ul>
    </div>
    <style>
       div{
           background: rgb(165, 164, 162);
           width: 100%;
           height: auto;
       }
       div ul{
           display: flex;
           justify-content: space-around;
       }
       div ul li{
           list-style: none;
           color:rgb(14, 13, 13)
       }
    </style>
</body>
</html>