<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO adash</h1>
 <div>  
    <button><a id="link" href="/user/Register">Register your account</a></button>
    <button><a id="link" href="/user/login">Login your account</a></button>
 </div>
    <style>
        html{
              box-sizing: border-box;
          }
          h1{
              text-align: center;
          }
          div{
              display: flex;
              justify-content: center;
          }
          button{
              border:none;
              margin-right: 10px;
              border-bottom:1px solid rgb(104, 104, 109);
              
          }
     #link{
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      color: #07689f;
    }
    </style>
    
</body>
</html>